/* src/assets/css/Homepage.css */

.homepage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #111;
  color: #fff;
}

.homepage-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* https://grabient.com/HQBgLAHANKCsDMMQWsAjLA7DNYCcOYATDEWicEUSKWVPMJkYg5mi8AGx6Jw1qgQ-QTRBA?style=linearGradient&steps=13&angle=90 */

  background: linear-gradient(
    90deg,
    rgba(18, 18, 22, 1) 0%,
    rgba(23, 22, 26, 1) 8.333%,
    rgba(27, 26, 31, 1) 16.667%,
    rgba(32, 31, 35, 1) 25%,
    rgba(36, 35, 39, 1) 33.333%,
    rgba(40, 39, 43, 1) 41.667%,
    rgba(44, 43, 47, 1) 50%,
    rgba(48, 47, 51, 1) 58.333%,
    rgba(51, 50, 55, 1) 66.667%,
    rgba(55, 54, 58, 1) 75%,
    rgba(57, 56, 61, 1) 83.333%,
    rgba(60, 59, 64, 1) 91.667%,
    rgba(62, 61, 66, 1) 100%
  );
}
