/* ==========================
  Google Fonts Imports
========================== */

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

/* ==========================
  Utility Classes for Fonts
========================== */

/* Pixelify Sans: Google Font */
.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: aliceblue;
}

/* Anta: Google Font */
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* =====================================================
  CINZEL USAGE
===================================================== */
.cinzel-body {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  color: #1e1e1e;

  transform: scaleX(1);
  transition: transform 0.4s ease, color 0.4s ease, font-weight 0.4s ease, font-style 0.4s ease;
  transform-style: preserve-3d;
}

.cinzel-body:hover {
  font-weight: 800;
  font-style: italic;
  color: #5f3dc4;

  transform: scaleX(1.05);
}

/* =====================================================
  TILT PRISM USAGE
===================================================== */

.tilt-prism-logo {
  font-family: "Tilt Prism", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  color: aliceblue;
  
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 0.4s ease, color 0.4s ease, font-weight 0.4s ease;
  transform-style: preserve-3d;
}

.tilt-prism-logo:hover {
  font-weight: 900;
  color: #7f54e4;
  
  transform: rotateX(-10deg) rotateY(10deg);
}