/* src/assets/css/Popup.css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-content {
	background-color: #222;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.4);
	
	width: 90vw;	       		/* 90% of the window's width */
	max-width: 100rem;
	max-height: 90vh;      		/* 90% of the window's height */
	
	margin: 0 auto;             /* Horizontally center the popup */
	overflow-y: auto;
	overflow-x: hidden;      	/* Prevent horizontal overflow */
	box-sizing: border-box;   	/* Includes padding in width calc */

	color: white;
}
